<launch>
  <node name="pid_control" pkg="nemcon" type="pid_control" output="screen">
    <param name="speed" value="10" />
    <param name="front" value="1" /> <!-- 前：1，右：2，後：3，左：4 -->
    <param name="imu_P" value="20.0" />
    <param name="imu_I" value="2.00" />
    <param name="imu_D" value="0.05" />
    <param name="enc_P" value="4.00" />
    <param name="enc_I" value="2.00" />
    <param name="enc_D" value="0.02" />
  </node>
</launch>
